body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.maincontainer {
position: relative;
}

.globalnav {
  float: left;
  width: 25%;
}

.usernav{
  margin-bottom: 5%;
}

.maincontent {
  float: left;
  width: 40%;
  overflow: scroll;

}

.usercard {
  background-color: grey;
}

.leaflet-container {

  }

  .map-container{
    float: left;
    height: 50em;
    width: 65em;
    margin: 0 auto;
  }

  .neweventmap{

  }
